<div, width="80%">
  <h4 class="text-center font-weight-bold">
    PRIVACY POLICY
  </h4>

  <ol>
    <li>
      <h5 class="font-weight-bold">GENERAL:</h5>
      <ol>
        <li>
          CryptoCat  (“CryptoCat”,  “We”,  “Our”,  “Us”)  is  committed  to  the  protection  of  user (“You”,“Your”,“User”) provided information which personally identifies You  (“Personal Information”) to CryptoCat. You agree that Your use of CryptoCat’ mobile application (“App”) implies Your consent to the collection, retention  and use of Your  Personal Information in accordance with the  terms of this Privacy Policy (“Privacy Policy”).
        </li>
        <li>
          We take the privacy of our Users seriously. We are committed to safeguarding the privacy of Our users while providing a personalized and valuable service.
        </li>
        <li>
          No User information is rented or sold to any third party. When You use the App, the App may collect Your device number and other Personal Information. A high standard of security is maintained by Us for Our users. However, the transmission of information via the internet or telephone networks is not completely secure. While We do Our best to protect Your information, particularly with respect to protection of Your personal data, CryptoCat cannot ensure the security of Your data transmitted via the internet, telephone or any other networks
        </li>
        <li>
          Access to the contents available through the App is conditional upon Your approval of this Privacy Policy which should be read together with the terms and conditions of use (“Terms”). You acknowledge that this Privacy Policy, together with our Terms, forms Our agreement with You in relation to Your use of the App (“Agreement”).
        </li>
      </ol>
    </li>
    <li>
      <h5 class="font-weight-bold">INFORMATION COLLECTED:</h5>
      <ol>
        <li>
          Traffic Data Collected: In order to provide the App, We automatically track and collect the following categories of information when You use the App:
          <ol>
            <li>IP addresses;</li>
            <li>Domain servers; and</li>
            <li>Other information with respect to Your device, interaction of Your device with the App and applications (collectively "Traffic Data”)</li>
          </ol>
        </li>
        <li>
          Personal Information Collected: In order to provide the App, We may require You to provide Us with Personal Information. Personal Information includes the following categories of information:
          <ol>
            <li>Contact data (such as Your email address, phone number and any details of Your contacts); and </li>
            <li>Demographic data (such as Your time zone, Your postal address and location details).</li>
          </ol>

          If You communicate with Us by, for example, email or letter, any information provided in such communication may be collected by CryptoCat.
          <br>
          Our App may transmit your Personal Information to our internal servers. This Personal Information is immediately deleted once you delete the App, except to the extent storage of such data, including your Personal Information, is necessary for our purposes and/ or required under applicable laws. Further, we have implemented commercially reasonable physical, managerial,  operational  and  technical  security  measures  to  protect  the  loss,  misuse  and  alteration  and  to  preserve the security of the Personal Information in our care.
        </li>
        <li>
          Our App may contain links to third party websites or applications. You agree and understand that privacy policies of  these  websites  are  not  under  Our  control.  You  understand  that  once  You  leave  Our  servers,  use  of  any information You provide shall be governed by the privacy policy of the operator of the site used by you
        </li>
      </ol>
    </li>

    <li>
      <h5 class="font-weight-bold">DISCLOSURE OF PERSONAL INFORMATION:</h5>
      <ol>
        <li>
          We do not disclose Your Personal Information to any third parties other than to CryptoCat' affiliates, third party service  providers  or  other trusted  business or  persons, who may  be  situated  outside  European Union based on strict adherence and in compliance with our Privacy Policy and any other appropriate confidentiality and security measure.
        </li>
        <li>
          In  general,  We use  Our  best  efforts  to  use  information  in  aggregate  form  (so  that  no  individual  user  is identified). However we may use Your Personal Information for the following purposes:
          <ol>
            <li>To build up marketing profiles;</li>
            <li>To aid strategic development, data collection and business analytics;</li>
            <li>To manage our relationship with advertisers and partners;</li>
            <li>To enable us to provide the App through the use of appropriate technological services;</li>
            <li>To audit usage of the App; and</li>
            <li>To enhance user experience in relation to the App (“collectively, “Permitted Use”).</li>
          </ol>
        </li>
        <li>
          We reserve the right to disclose Personal Information if required to do so by law.
        </li>
        <li>
          In the event of a merger, reorganization, acquisition, joint venture, assignment, spinoff, transfer, asset sale,  or  sale  or  disposition  of  all  or  any  portion  of  our  business,  including  in  connection  with  any bankruptcy or similar proceedings, we may transfer any and all personal data to the relevant third party with the same rights of access and use. Please note that this will never result in your Personal Information being transferred outside European Union.
        </li>
        <li>
          By  agreeing  to  the  Privacy  Policy,  You  hereby  grant  Us  Your  consent  for  sharing  Your  information, including Your Personal Information, for the Permitted Uses, and in all instances henceforth in pursuance of clause 3.c and 3.d of this Privacy Policy.
        </li>
      </ol>
    </li>
    <li>
      <h5 class="font-weight-bold">CONFIDENTIALITY AND SECURITY:</h5>
      Except as otherwise provided in this Privacy Policy, We will keep Your Personal Information private and will  not  share  it  with  third  parties,  unless  We  believe  in  good  faith  that  disclosure  of  Your  Personal Information or any other information We collect about You is necessary for Permitted Use or to:
      <ol>
        <li>Comply with a court order or other legal process; </li>
        <li>Protect the rights, property or safety of CryptoCat or another party;</li>
        <li>Enforce the Agreement, including Terms; or</li>
        <li>Respond to claims that any posting or other content violates the rights of third parties.</li>
      </ol>
    </li>
    <li>
      <h5 class="font-weight-bold">SECURITY:</h5>
      <ol>
        <li>The security of Your Personal Information is important to Us. We follow reasonable security practices and procedures  as  required  under  applicable  laws  to protect the  Personal  Information submitted  to Us, both during transmission and once We receive it.</li>
        <li>Although We make best possible efforts to store Personal Information in a secure operating environment that is not open to the public, You should understand that there is no such thing as complete security, and We do  not guarantee  that there will  be  no unintended  disclosures of Your Personal Information.  If We become aware that Your Personal Information has been disclosed in a manner not in accordance with this Privacy Policy, We will use reasonable efforts to notify You of the nature and extent of such disclosure (to the extent We know that information) as soon as reasonably possible and as permitted by law.</li>
      </ol>
    </li>

    <li>
      <h5 class="font-weight-bold">UPDATES AND CHANGES TO PRIVACY POLICY:</h5>
      We reserve the right, at any time, to add to, change, update, or modify this Privacy Policy so please review it frequently. If We do, then We will post these changes on this page. In all cases, use of information We collect is subject to the Privacy Policy in effect at the time such information is collected.
    </li>

    <li>
      <h5 class="font-weight-bold">YOUR RIGHTS:</h5>
      <ol>
        <li>You have a right to review and correct any errors in Your Personal Information available with Us. You may request Us in writing at legal@CryptoCat.group.</li>
        <li>You  may  request  Us  in  writing  that  We  cease  to  use  Your  Personal  Information  by  writing  to  Us  at legal@cryptocat.today. In the event that you refuse to share any information, or withdraw consent to process information that you have previously given to us, we reserve the right to restrict or deny the provision of our services for which we consider such information to be necessary.</li>
        <li>According to GDPR rules, you can ask us to delete your personal information from our storage.</li>
      </ol>
    </li>

    <li>
      <h5 class="font-weight-bold">RESTRICTION OF LIABILITY:</h5>
      <ol>
        <li>CryptoCat makes no claims, promises or guarantees about the accuracy, completeness, or adequacy of the contents available through the App and expressly disclaims liability for errors and omissions in the contents available through the App.</li>
        <li>No warranty of any kind, implied, expressed or statutory, including but not limited to the warranties of noninfringement of third party rights, title, merchantability, fitness for a particular purpose and freedom from computer virus, is given with respect to the contents available through the App or its links to other internet resources as may be available to Your through the App.</li>
        <li>Reference in the App to any specific commercial products, processes, or services, or the use of any trade, firm  or  corporation name is  for  the information  and  convenience of the  public,  and  does  not  constitute endorsement, recommendation, or favoring by CryptoCat.</li>
      </ol>
    </li>

    <br>
    If you have questions or concerns, feel free to email Us or to correspond at legal@cryptocat.today and We will attempt to address Your concerns.
    <br>
    Last updated on: 01st May 2021
  </ol>
</div>
